$height: 50px;
$action-width: 15px;

.root {
  background: red;
  height: $height;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.creator {
  background: blue;
  height: 100%;
  width: $height;
}

.content {
  background: yellow;
  height: 100%;
  flex-grow: 1;
}

.actions {
  background: green;
  width: $action-width;
  height: 100%;
}