$input-width: 450px;

.root {
  margin: 0 50px;
}

.form {
  box-sizing: border-box;
  padding: 15px;
}

.input-container {
  width: $input-width;
  margin: 0 auto 10px auto;
}

.submit-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.text-input {
  box-sizing: border-box;
  width: 100%;
}

.submit-button {
  background: rgb(89, 156, 4);
  margin: 0 5px;
}

.cancel-button {
  background: rgb(220, 40, 40);
  margin: 0 5px;
}
