$input-width: 450px;

.root {
  margin: 0 50px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  height: auto;

  &.hide {
    opacity: 0;
    height: 0;
  }
}

.form {
  box-sizing: border-box;
  padding: 15px;
}

.input-container {
  width: $input-width;
  margin: 0 auto 10px auto;
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  height: auto;

  &.hide {
    opacity: 0;
    height: 0;
  }
}

.text-input {
  box-sizing: border-box;
  width: 100%;
}
