
.root {
  width: 100vw;
  height: 42px;
  background: #599c04;
}

.row-no-margin {
  margin: 0;
}

.nav-wrapper {
  line-height: 42px;
}

.profile-img-wrapper {
  height: 42px;
  padding: 5px 0 5px 5px;
}

.profile-img {
  height: 100%;
}

.nav-bar-list {
  padding-right: 0;
}

.nav-main {
  padding-right: 0;
}