@import "../layouts_variables";
@import "../../global_variables";

.root {
  padding: 0 $side-padding-sm;
  width: 100vw;
  height: 42px;
  background: #599c04;
  display: flex;

  @media (min-width: $screen-md) {
    padding: 0 $side-padding-md;
  }

  @media (min-width: $screen-lg) {
    padding: 0 $side-padding-lg;
  }
}

.brand {
  background: red;
}

.items {
  background: blue;
}

.profile {
  background: green;
}