.drop-down {
  visibility: hidden;
  width: 200px;
  position: absolute;
  right: 12px;
  top: 12px;
  margin: 0;
  line-height: 12px;
  background: rgb(164, 212, 159);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
  transition: visibility 0s, opacity 1s ease-in-out;
}

.drop-down.visible {
  visibility: visible;
}

.li {
  padding: 12px;
}

.li-span {
  color: black;
}

.drop-down-item-icon-1 {
  margin-top: -6px;
  color: blue;
}

.drop-down-item-icon-2 {
  margin-top: -6px;
  color: red;
}

.drop-down-item-icon-3 {
  margin-top: -6px;
  color: darkgrey;
}

.drop-down-item-icon-4 {
  margin-top: -6px;
  color: rosybrown;
}